
/* ! common code starts  */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

  ul,ol{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
    

 .container{
    width: 80%;
 }
      /* !common code ends  */



 nav{
  background-color: rgba(255, 166, 0, 0.562);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 30px 40px ;
 }
  nav button{
  padding: 10px;
  border: none;
background-color:salmon;
color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
  }
  nav button i{
    font-size: 25px;
   font-weight: bold;
  }
  nav button:hover{
    background-color: rgba(0, 0, 255, 0.493);
    color: white;
  }
  .nav__list{
    padding: 40px 0;
   }
  .nav__list li{
   margin: 40px 40px 20px;
     text-transform: uppercase;
  }

 .nav__list li a{
    font-size: 2rem;
    color: #000;
 }
   .sidebar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #00000081;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
   }
   .sidebar aside{
    width: 90%;
    max-width: 400px;
    height: 100vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: relative;
    transform: translateX(-100%);
    transition: .5s;

   }
      .cancelButton{
        width: 40px;
        height: 40px;
          position: absolute;
          top: 30px;
          right: 40px;
          border: none;
          background: rgba(0, 0, 255, 0.432);
          color: white;
          border-radius: 2px;
          text-align: center;
          line-height: 40px;
 transition: .5s;
  cursor: pointer;
      }
      .cancelButton i{
        font-size: 30px;
      }
      .cancelButton:hover{
        transform: scale(1.2);
      }
    .sidebar.active aside {
              transform: translate(0%);
        }
   .sidebar.active {
            opacity: 1;
            visibility: visible;
    }

        

